<body>
  <div class="content">
    <div class="container">
      <h1 class="myName">About Me</h1>
      <p>Teacher, Enterpeneur, Computer Programmer</p>
      <p class="aboutDescription">I'm a student at Georgian College, learning computer programming. I
        really enjoy making things from scratch, especially coding projects.
        It's exciting to start with a blank slate and turn ideas into working
        programs. I'm always eager to learn and improve my skills as I progress
        through my studies</p>
    </div>
  </div>
</body>