<body>
    <div class="content">
      <div class="container">
        <h1 class="myName">Mona Shoar</h1>
        <p class="description">Entrepreneur, Computer programmer, Teacher</p>
        <a href="/contact" class="contactButton">Contact me</a>
      </div>
    </div>