<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <nav>
      <div class="container">
        <ul class="navbarList">
          <li><a class="navs" href="./home">Home</a></li>
          <li><a class="navs" href="./about">About</a></li>
          <li><a class="navs" href="./projects">Projects</a></li>
          <li><a class="navs" href="./contact">Contact</a></li>
        </ul>
      </div>
    </nav>

    {{{body}}}

    <footer class="footer">
      <div class="container">
        <div class="footerLinks">
          <a
            href="https://www.linkedin.com/in/shoar/"class="footerLink">LinkedIn</a>
          <a href="https://github.com/MonaShoar" class="footerLink">GitHub</a>
        </div>
      </div>
    </footer>

  </body>
</html>