<body>
  <div class="buttonContainer">
    <button class="contactButton1">See my fist Website</button>
    <button class="contactButton2">See my CSS project</button>
    <button class="contactButton3">See my song lyrics CSS</button>
  </div>
</body>